#
# LOG8415E - Final Project.
#
# instance-config.sh.tftpl
# A bash script to configure instances, e.g. installing docker
#                                       pulling code from git
#                                       starting container


#!/bin/bash
echo test