#!/bin/bash
#
# LOG8415E - Final Project.
#
# proxy-config.sh.tftpl
# A bash script to configure proxy

sudo apt-get update -y
sudo apt-get upgrade -y

sudo apt-get install git -y
git clone https://github.com/chrichriGeorgie/Final-Project-LOG8415E.git