#!/bin/bash
#
# LOG8415E - Final Project.
#
# standalone-config.sh.tftpl
# A bash script to configure the standalone install 

sudo apt-get update -y
sudo apt-get upgrade -y

#Installing and starting MySQL
sudo apt-get install mysql-server -y

sudo systemctl start mysql
sudo systemctl enable mysql